node_modules
.next
out
.env
.env.local
.DS_Store
*.log
.turbo
.vercel
.swc
.lighthouseci
.lighthouseci/chrome-user-data
.playwright-results
playwright-report
test-results
test-plan-*.md
test-report-*.md
upgrade-plan-*.md
next-env.d.ts
tsconfig.tsbuildinfo
.env*.local
